* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #faf9f9;
}

.navBar {
  list-style-type: none;
  color: #fdfcdc;
  background-color: #555b6e;
  width: 100%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 20px;
}

.navBar h1 {
  margin-right: 10px;
}

.navBar li {
  display: inline;
  margin: 30px;
}

.searchContainer {
  padding: 50px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchBar {
  width: 90%;
  height: 40px;
  padding: 12px;
  font-size: 24px;
  background-color: #f0efeb;
  border: none;
  box-shadow: 2px 2px 3px #b7b7a4;
  color: #8a817c;
}

.searchBar:focus {
  outline: none;
}
