* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #faf9f9;
}

.navBar {
  list-style-type: none;
  color: #fdfcdc;
  background-color: #555b6e;
  width: 100%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 20px;
}

.navBar h1 {
  margin-right: 10px;
}

.navBar li {
  display: inline;
  margin: 30px;
}

.searchContainer {
  padding: 50px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBar {
  width: 90%;
  height: 40px;
  padding: 12px;
  font-size: 24px;
  background-color: #f0efeb;
  border: none;
  box-shadow: 2px 2px 3px #b7b7a4;
  color: #8a817c;
}

.searchBar:focus {
  outline: none;
}

.recipe {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 3;
  justify-items: center;
  align-self: center;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 50px;
  padding: 50px 25px;
  background-color: #ffeedd;
  border-radius: 25px;
}

.recipeImage {
  width: 350px;
  height: auto;
  grid-row: 1 / 4;
  grid-column: 1;
}

.recipeName {
  grid-row: 1;
  grid-column: 2;
  text-decoration: underline;
  max-width: 75%;
  text-align: center;
}

.recipeOverview {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.recipeDetailsButton {
  grid-row: 3;
  grid-column: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  font-style: italic;
  text-decoration: underline;
}

.recipeDetails {
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 2;
  justify-items: center;
  align-self: center;
  row-gap: 30px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
  padding: 50px;
  background-color: #ffeedd;
  border-radius: 25px;
}

.recipeReturnOverview {
  grid-column: 2;
  grid-row: 2;
  justify-self: end;
  margin-right: 16px;
  font-style: italic;
  text-decoration: underline;
}

.recipeIngredients {
  grid-column: 1;
  grid-row: 1;
}

.recipeInstructions {
  grid-column: 2;
  grid-row: 1;
  max-width: 85%;
}

.recipeIngredients ul {
  margin: 24px 12px;
}

.recipeIngredients ul li {
  margin: 12px 0px;
}

.recipeInstructions ol {
  margin: 24px 12px;
}

.recipeInstructions ol li {
  margin: 12px 0px;
}
